@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    border-bottom: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0px 16px 0px;
}

ul {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    gap: 20px;
    border: 1px black solid;
    padding: 24px;
    min-width: 240px;
    border-radius: 64px;
}

li {
    list-style: none;
    cursor: pointer;
}